<h1>page 2</h1>
<div>

  <button (click)="onClickButton(0)" [class.highlight]="this.classes[0]">hit me!</button>
  <button (click)="onClickButton(1)" [class.highlight]="this.classes[1]">hit me2!</button>
</div>
<img src="https://images.unsplash.com/photo-1601719817866-8678c3d417e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=975&q=80" />
<div>
  <button (click)="onClickButton(3)" [class.highlight]="this.classes[3]">hit me 3!</button>
  <button (click)="onClickButton(4)" [class.highlight]="this.classes[4]">hit me 4!</button>
</div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac tortor dignissim convallis aenean et tortor at risus viverra. Velit aliquet sagittis id consectetur purus. Euismod quis viverra nibh cras pulvinar mattis nunc sed. Est ultricies integer quis auctor. Nullam eget felis eget nunc. Laoreet id donec ultrices tincidunt arcu. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing. Semper quis lectus nulla at volutpat. Vehicula ipsum a arcu cursus. In nisl nisi scelerisque eu ultrices vitae auctor. Nunc sed blandit libero volutpat. In arcu cursus euismod quis viverra nibh cras pulvinar. Leo integer malesuada nunc vel risus commodo. Magna sit amet purus gravida. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl.
</p>
<img src="https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80" />
