<h1>page 1</h1>
<div>
  <a routerLink="/nodes">nodes </a>
  <a routerLink="/users" >users</a>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac tortor dignissim convallis aenean et tortor at risus viverra. Velit aliquet sagittis id consectetur purus. Euismod quis viverra nibh cras pulvinar mattis nunc sed. Est ultricies integer quis auctor. Nullam eget felis eget nunc. Laoreet id donec ultrices tincidunt arcu. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing. Semper quis lectus nulla at volutpat. Vehicula ipsum a arcu cursus. In nisl nisi scelerisque eu ultrices vitae auctor. Nunc sed blandit libero volutpat. In arcu cursus euismod quis viverra nibh cras pulvinar. Leo integer malesuada nunc vel risus commodo. Magna sit amet purus gravida. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl.
</p>
<button (click)="onClickButton(0)" [class.highlight]="this.classes[0]">hit me!</button>
<button (click)="onClickButton(1)" [class.highlight]="this.classes[1]">hit me2!</button>
<p>
  Semper quis lectus nulla at volutpat. Enim blandit volutpat maecenas volutpat. Viverra orci sagittis eu volutpat odio facilisis mauris. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Ipsum dolor sit amet consectetur adipiscing elit duis. Cras pulvinar mattis nunc sed blandit libero volutpat. Malesuada fames ac turpis egestas maecenas pharetra convallis. Odio ut sem nulla pharetra. Nunc consequat interdum varius sit. Viverra adipiscing at in tellus. Elementum integer enim neque volutpat ac tincidunt vitae.
</p>
<p>
  At erat pellentesque adipiscing commodo elit at imperdiet. Elementum curabitur vitae nunc sed velit dignissim sodales ut eu. A iaculis at erat pellentesque adipiscing commodo elit. Vel pharetra vel turpis nunc eget lorem. Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Nulla pellentesque dignissim enim sit amet venenatis. Et molestie ac feugiat sed lectus vestibulum mattis. Est ultricies integer quis auctor elit sed vulputate. Odio pellentesque diam volutpat commodo sed. Viverra aliquet eget sit amet tellus cras adipiscing. Tristique magna sit amet purus gravida quis. Pellentesque elit eget gravida cum sociis. Nunc eget lorem dolor sed viverra ipsum nunc. Nulla facilisi nullam vehicula ipsum. Aliquet eget sit amet tellus cras adipiscing enim eu turpis.
</p>

<button (click)="onClickButton(3)" [class.highlight]="this.classes[3]">hit me 3!</button>
<button (click)="onClickButton(4)" [class.highlight]="this.classes[4]">hit me 4!</button>

<p>Lectus proin nibh nisl condimentum. Non nisi est sit amet facilisis magna etiam tempor. Risus quis varius quam quisque id. Penatibus et magnis dis parturient montes nascetur ridiculus. Felis bibendum ut tristique et. Ipsum dolor sit amet consectetur adipiscing. Pellentesque elit eget gravida cum. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Nunc congue nisi vitae suscipit tellus mauris a diam maecenas. Urna nec tincidunt praesent semper feugiat nibh sed. Interdum velit laoreet id donec ultrices tincidunt. Volutpat ac tincidunt vitae semper quis lectus nulla at volutpat. Dis parturient montes nascetur ridiculus mus.</p>
<p>Viverra justo nec ultrices dui sapien eget. Convallis posuere morbi leo urna molestie. Tristique senectus et netus et malesuada fames. Quis eleifend quam adipiscing vitae proin sagittis nisl. Donec adipiscing tristique risus nec feugiat in fermentum. Maecenas accumsan lacus vel facilisis volutpat. Massa massa ultricies mi quis. Lacinia quis vel eros donec ac odio tempor. Tellus elementum sagittis vitae et leo. Diam quam nulla porttitor massa id neque aliquam.</p>

<p>
  Semper quis lectus nulla at volutpat. Enim blandit volutpat maecenas volutpat. Viverra orci sagittis eu volutpat odio facilisis mauris. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Ipsum dolor sit amet consectetur adipiscing elit duis. Cras pulvinar mattis nunc sed blandit libero volutpat. Malesuada fames ac turpis egestas maecenas pharetra convallis. Odio ut sem nulla pharetra. Nunc consequat interdum varius sit. Viverra adipiscing at in tellus. Elementum integer enim neque volutpat ac tincidunt vitae.
</p>
<p>
  At erat pellentesque adipiscing commodo elit at imperdiet. Elementum curabitur vitae nunc sed velit dignissim sodales ut eu. A iaculis at erat pellentesque adipiscing commodo elit. Vel pharetra vel turpis nunc eget lorem. Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Nulla pellentesque dignissim enim sit amet venenatis. Et molestie ac feugiat sed lectus vestibulum mattis. Est ultricies integer quis auctor elit sed vulputate. Odio pellentesque diam volutpat commodo sed. Viverra aliquet eget sit amet tellus cras adipiscing. Tristique magna sit amet purus gravida quis. Pellentesque elit eget gravida cum sociis. Nunc eget lorem dolor sed viverra ipsum nunc. Nulla facilisi nullam vehicula ipsum. Aliquet eget sit amet tellus cras adipiscing enim eu turpis.
</p>

<h2>this is a h2</h2>

<ul>
  <li>item 1</li>
  <li>item 2</li>
  <li>item 3</li>
  <li>item 4</li>
</ul>

<button (click)="onClickButton(5)" [class.highlight]="this.classes[5]">hit me 5!</button>
<button (click)="onClickButton(6)" [class.highlight]="this.classes[6]">hit me 6!</button>
